@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (this.User.Identity.IsAuthenticated)
    {
        @if (this.User.IsInRole("Admin"))
        {

            <h1 class="display-4">Welcome, Admin @this.User.Identity.Name</h1>
            <h1>Have fun moderating</h1>
        }
        else
        {
            <h1 class="display-4">Welcome @this.User.Identity.Name</h1>

        }
    }
    else
    {
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    }
</div>
<a href="https://localhost:44383/" class="btn btn-info" role="button">Categories</a>
<a href="https://localhost:44383/Category/Create" class="btn btn-info" role="button">Create category</a>