@model QuoteInputModel

    <div class="container">
        <h2>Quote @Model.ReplyAuthorName</h2>
        <form>
            <div class="form-group">
                <label for="comment">@Model.ReplyAuthorName said:</label>
                <textarea class="form-control" rows="5" id="comment">@Model.ReplyContent</textarea>
            </div>
        </form>
    </div>