@model ReplyInputModel

<div>
    <h1><a id="main-heading-text" href="#">Create Reply</a></h1>
</div>


<div class="row">
    <div class="Create Reply">
        <form asp-action="Create" method="post" id="createReply" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
        
            <div class="form-group">
          
                <input asp-for="Content" rows="1" class="form-control" placeholder="Your reply..">
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            <button type="submit" id="registerBtn" class="btn btn-submitPost text-success">Create</button>
            <input onclick="window.history.back()" class="mt-25 submit-button menu-bg-forum text-danger" type="button" value="Cancel">
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}