@model PostIndexViewModel

<div class="container body-content">
    <div class="row postHeader">
        <div class="postHeading">
            <span class="postIndexTitle">
                @Model.Title
                <p>@Model.Content</p>
            </span>
            <span id="headingBtn"><a asp-controller="Post" asp-action="Index" class="btn btn-back">Index Index</a></span>
        </div>
    </div>
    </div>
    